---
whiskers:
  version: ^2.0.0
  matrix:
    - flavor
  filename: "lua/evergarden/palettes/{{flavor.identifier}}.lua"
---
-- {{flavor.name}}
return {
{% for _, color in flavor.colors -%}
{{"  "}}{{color.name}} = "#{{color.hex}}",
{% endfor -%}

}
